

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <div class="row input-table">
            <div class="col-3">
                <div class="input-table-title coll-12">Configura ICCID</div>
            </div>
            <div class="col-6">
                <div class="input-table-title coll-12">Configura MNP</div>
            </div>
            <div class="col-3">
                <div class="input-table-title coll-12">Configura IMEI</div>
            </div>

        </div>


    </div>
</div>


<div class="row riepilogo-row" ng-repeat="offerta in offerte_configurabili">

    <div class="col-2">

        <div class="img-wrap">
                    <!--
                    <span ng-if="offerta.isMobile" ng-click="configura_offerta()" class="config">
                        <img src="imgs/png/cogwheel.png" class="control-icon">
                    </span>
                    -->
            <img class="riepilogo-icon" ng-src="{{offerta.imgSrc}}"/>

        </div>
    </div>

    <div class="col-10 input-table-border">

        <div class="row input-table">

    <!-- COLONNA ICCID-->
            <div class="col-3">

                <div class="row input-table-cell">

                    <label for="iccid-{{$index}}" class="col-4 col-form-label">
                        <b>ICCID:</b>
                    </label>

                    <div class="col-8">
                        <input type="text" id="iccid-{{$index}}" name="iccid-{$index}}" ng-model="offerta.iccid" ng-blur="validateField($event);iccidFill($event,$index)" class="form-control" placeholder="" tabindex={{($index)*100+1}}>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <label for="msisdn-{{$index}}" class="col-4 col-form-label">
                        <b>MSISDN:</b>
                    </label>

                    <div class="col-8">
                        <input type="text" id="msisdn-{{$index}}" name="msisdn-{{$index}}" ng-model="offerta.msisdn" class="form-control" placeholder="" readonly>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <label for="tipologia-{{$index}}" class="col-4 col-form-label">
                        <b>TIPOLOGIA:</b>
                    </label>
                    <div class="col-8">
                        <input type="text" id="tipologia-{{$index}}" name="tipologia-{{$index}}" ng-model="offerta.tipologia" class="form-control" placeholder="" readonly>
                    </div>
                </div>

            </div>

            <!-- COLONNA MNP-->
            <div class="col-6 input-table-cell">

                <div class="row">

                    <div class="col-6 row">
                        <label for="nome-{{$index}}" class="col-4 col-form-label">
                            <b>NOME:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="nome-{{$index}}" name="nome-{{$index}}" ng-model="offerta.nome" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+4}}>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <label for="msisdn-portato-{{$index}}" class="col-4 col-form-label">
                            <b>MSISDN PORTATO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="msisdn-portato-{{$index}}" name="msisdn-portato-{{$index}}" ng-model="offerta.msisdn_portato" ng-blur="validateField($event);validateMSISDNDonating($event)" class="form-control" placeholder="" tabindex={{($index)*100+8}}>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row">
                        <label for="cognome-{{$index}}" class="col-4 col-form-label">
                            <b>COGNOME:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="cognome-{{$index}}" name="cognome-{{$index}}" ng-model="offerta.cognome" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+5}}>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <label for="origine-{{$index}}" class="col-4 col-form-label">
                            <b>CONTRATTO ORIGINE:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="origine-{{$index}}" name="origine-{{$index}}" ng-model="offerta.origine" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+9}}>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row">
                        <label for="cfpiva-{{$index}}" class="col-4 col-form-label">
                            <b>CF/P:IVA:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="cfpiva-{{$index}}" name="cfpiva-{{$index}}" ng-model="offerta.cfpiva" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+6}}>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <label for="operatore-{{$index}}" class="col-4 col-form-label">
                            <b>OPERATORE TELEFONICO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="operatore-{{$index}}" name="operatore-{{$index}}" ng-model="offerta.operatore" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+10}}>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row">
                        <label for="tipo-{{$index}}" class="col-4 col-form-label">
                            <b>TIPO DOCUMENTO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="tipo-{{$index}}" name="tipo-{{$index}}" ng-model="offerta.tipo" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+7}}>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <label for="iccid-donating-{{$index}}" class="col-4 col-form-label">
                            <b>ICCID DONATING:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="iccid-donating-{{$index}}" name="iccid-donating-{{$index}}" ng-model="offerta.iccid_donating" ng-blur="validateField($event);validateICCIDDonating($event)" class="form-control" placeholder="" tabindex={{($index)*100+11}}>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row">
                        <label for="numero-documento-{{$index}}" class="col-4 col-form-label">
                            <b>NUMERO DOCUMENTO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="numero-documento-{{$index}}" name="numero-documento-{{$index}}" ng-model="offerta.numero_documento" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+12}}>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <label for="flag-tcr-{{$index}}" class="col-4 col-form-label">
                            <b>FLAG TCR:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="flag-tcr-{{$index}}" name="flag-tcr-{{$index}}" ng-model="offerta.flag_tcr" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+13}}>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-3">


                <div class="row input-table-cell">

                    <label for="imei-{{$index}}" class="col-4 col-form-label">
                        <b>IMEI:</b>
                    </label>

                    <div class="col-8">
                        <input type="text" id="imei-{{$index}}" name="imei-{{$index}}" ng-model="offerta.imei" ng-blur="validateIMEI($event)" class="form-control" placeholder="" tabindex={{($index)*100+14}}>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
