<div class="row riepilogo-row" ng-repeat="offerta_mandatoria in offerte_mandatorie">

    <div class="col-2">

        <div class="img-wrap">

                    <span ng-if="offerta_mandatoria.isMobile" ng-click="configura_offerta()" class="config">
                        <img src="imgs/png/cogwheel.png" class="control-icon">
                    </span>
            <img class="riepilogo-icon" ng-src="{{offerta_mandatoria.imgSrc}}"/>

        </div>
    </div>

    <div class="col-10">

        <div ng-if="offerta_mandatoria.isMobile" class="row input-table">


            <!-- COLONNA ICCID-->
            <div class="col-3">

                <div class="input-table-title coll-12">Configura ICCID</div>

                <div class="row input-table-cell">

                    <div class="col-4">
                        <b>ICCID:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID">
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-4">
                        <b>MSISDN:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="MSISDN">
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-4">
                        <b>TIPOLOGIA:</b>
                    </div>
                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="TIPOLOGIA">
                    </div>
                </div>

            </div>

            <!-- COLONNA MNP-->
            <div class="col-6">

                <div class="input-table-title coll-12">Configura MNP</div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>NOME:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="NOME">
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>MSISDN PORTATO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="MSISDN PORTATO">
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>COGNOME:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="Cognome">
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>CONTRATTO ORIGINE:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID">
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>CF/P:IVA:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID">
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>OPERATORE TELEFONICO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID">
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>TIPO DOCUMENTO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="TIPO DOCUMENTO">
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>ICCID DONATING:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID Donaitng">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="input-table-title coll-12">Configura IMEI</div>

                <div class="row input-table-cell">

                    <div class="col-4">
                        <b>IMEI:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="IMEI">
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
