

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <div class="row input-table">
            <div class="col-3">
                <div class="input-table-title coll-12">Configura ICCID</div>
            </div>
            <div class="col-6">
                <div class="input-table-title coll-12">Configura MNP</div>
            </div>
            <div class="col-3">
                <div class="input-table-title coll-12">Configura IMEI</div>
            </div>

        </div>


    </div>
</div>


<div class="row riepilogo-row" ng-repeat="offerta in offerte_configurabili">

    <div class="col-2">

        <div class="img-wrap">

                    <span ng-if="offerta.isMobile" ng-click="configura_offerta()" class="config">
                        <img src="imgs/png/cogwheel.png" class="control-icon">
                    </span>
            <img class="riepilogo-icon" ng-src="{{offerta.imgSrc}}"/>

        </div>
    </div>

    <div class="col-10 input-table-border">




        <div class="row input-table">

    <!-- COLONNA ICCID-->
            <div class="col-3">



                <div class="row input-table-cell">

                    <div class="col-4">
                        <b>ICCID:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID" tabindex=1>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-4">
                        <b>MSISDN:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="MSISDN" tabindex=2>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-4">
                        <b>TIPOLOGIA:</b>
                    </div>
                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="TIPOLOGIA" tabindex=3>
                    </div>
                </div>

            </div>

            <!-- COLONNA MNP-->
            <div class="col-6">



                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>NOME:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="NOME" tabindex=4>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>MSISDN PORTATO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="MSISDN PORTATO" tabindex=8>
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>COGNOME:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="Cognome" tabindex=5>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>CONTRATTO ORIGINE:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID" tabindex=9>
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>CF/P:IVA:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="CF/P.IVA" tabindex=6>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>OPERATORE TELEFONICO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID" tabindex=10>
                        </div>
                    </div>
                </div>

                <div class="row input-table-cell">
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>TIPO DOCUMENTO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="TIPO DOCUMENTO" tabindex=7>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-4">
                            <b>ICCID DONATING:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" name="rg-from" value="" class="form-control" placeholder="ICCID Donaitng" tabindex=11>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">


                <div class="row input-table-cell">

                    <div class="col-4">
                        <b>IMEI:</b>
                    </div>

                    <div class="col-8">
                        <input type="text" name="rg-from" value="" class="form-control" placeholder="IMEI" tabindex=12>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
