<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="imgs/favicon.ico">

    <title>Shaolin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        -->
    <!-- Custom styles for this template -->
    <link href="stili/heroic-features.css" rel="stylesheet">
    <link rel="stylesheet" href="stili/newstyle.css"/>

    <script data-require="jquery@2.1.1" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script data-require="angular.js@1.2.19" data-semver="1.2.19" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="vendor/angulardraganddrop/angulardragdrop.js"></script>
    <script src="vendor/angulardraganddrop/touch.punch.js"></script>
    <!-- scripts per il drag and drop in angular http://codef0rmer.github.io/angular-dragdrop/#!/ -->
    <script src="controller/controller.js"></script>

</head>
<body ng-app="app0">

    <nav class="navbar navbar-dark bg-yellow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Shaolin</a>
        </div>
    </nav>

    <div ng-controller="ctr0" class="padding">

        <div class="row riepilogo-row" ng-repeat="offerta_mandatoria in offerte_mandatorie">

            <div class="col-2">

                <div class="img-wrap">

                    <span ng-if="offerta_mandatoria.isMobile" ng-click="configura_offerta()" class="config">
                        <img src="imgs/png/cogwheel.png" class="control-icon">
                    </span>


                    <img class="riepilogo-icon" ng-src="{{offerta_mandatoria.imgSrc}}"/>

                </div>
            </div>

            <div class="col-10">

                <div ng-if="offerta_mandatoria.isMobile" class="row input-table">


                    <!-- COLONNA ICCID-->
                    <div class="col-3">

                        <div class="input-table-title coll-12">Sezione 1</div>

                        <div class="row input-table-cell">



                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>


                        <div class="row input-table-cell">
                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>

                        <div class="row input-table-cell">
                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>

                    </div>

                    <!-- COLONNA MNP-->
                    <div class="col-6">

                        <div class="input-table-title coll-12">Sezione 2</div>

                        <div class="row input-table-cell">
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                        </div>

                        <div class="row input-table-cell">
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                        </div>

                        <div class="row input-table-cell">
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                        </div>

                        <div class="row input-table-cell">
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="col-4">
                                    <b>ICCID:</b>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="col-3">
                        <div class="input-table-title coll-12">Sezione 3</div>

                        <div class="row input-table-cell">



                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>


                        <div class="row input-table-cell">
                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>

                        <div class="row input-table-cell">
                            <div class="col-4">
                                <b>ICCID:</b>
                            </div>

                            <div class="col-8">
                                <input type="text" id="rg-from" name="rg-from" value="" class="form-control" placeholder="ICCID">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>