<!-- Jumbotron Header -->
<br>
<br>
<h4>Seleziona un bundle:</h4>
<br>

<!-- Page Features -->
<div class="row text-center">

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="imgs/img_superjet.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">FAMILY PACK</h4>
                <p class="card-text">
                    Connettività fissa e fino a 4 linee mobili. Tutto in un solo pacchetto. <br>Niente sarà più come
                    prima.
                </p>
            </div>
            <div class="card-footer">
                <a href="http://obvm01.replynet.prv:8080/shaolin/resources/shaolin" class="btn btn-primary">Aggiungi al
                    carrello!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="imgs/img_fissomobile.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">FISSO E MOBILE</h4>
                <p class="card-text">
                    Internet illimitato. Chiamate verso rete fissa e cellulari nazionali illimitate. SIM Mobile Freedom
                    inclusa.
                </p>
            </div>
            <div class="card-footer">
                <button style="cursor:pointer;" ng-click="checkout()" class="btn btn-primary">Aggiungi al carrello!
                </button>

                <!--<a href="configuraOfferta.html" class="btn btn-primary">Configura</a>
                -->

                <button style="cursor:pointer;" ng-click="configura()" class="btn btn-primary float-right">Configura</button>

            </div>
        </div>
    </div>

</div>