<br>
<!-- Jumbotron Header -->
<h4>Riepilogo Carrello:</h4>
<br>

<!-- Page Features -->
<div>
    <div class="row">
        <div class="col-9 recap-left-col">


            <div class="recap-container">



                <!-- OFFERTE BLOCCATE (MANDATORIE) -->
                <div class="row riepilogo-row" ng-repeat="offerta_mandatoria in offerte_mandatorie">


                    <div class="col-3">
                        <div class="img-wrap_offertebloccate">



                            <img class="riepilogo-icon" ng-src="{{offerta_mandatoria.imgSrc}}"/>
                        </div>
                    </div>
                    <div class="col-9">


                        <div ng-if="offerta_mandatoria.isMobile" class="recap-connf-table-container">


                            <div class="panel-group riga-configurazione">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span><b> Richiesta MNPIN</b>
                            </div>


                            <div class="panel-group riga-configurazione">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <b>
                                            <a class="accordion-trigger" data-toggle="collapse"
                                               href="#collapse-fix-{{$index}}">
                                                <span class="accordion-icon"></span>
                                                Configura ICCID
                                            </a>
                                        </b>
                                    </div>
                                    <div id="collapse-fix-{{$index}}" class="panel-collapse collapse">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">ICCID</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">MSISDN</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">

                                            <div class="col-2"></div>
                                            <div class="col-2">Tipologia</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">IMSI</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row riga-configurazione">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span><b> Inserisci IMEI</b>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- Fine container fisse-->



            <!-- inizio container opzionali-->
            <div class="recap-container" ng-if="offerte_aggiunte.length">
                <div class="row riepilogo-row" ng-repeat="offerta in offerte_aggiunte">

                    <div class="col-3">

                        <div class="img-wrap_dropped">
                            <!--<span ng-click="eliminaAggiunta($index)" class="close">&times;</span>
                            -->
                            <span ng-click="configura_offerta()" class="config"><img
                                    src="imgs/png/cogwheel.png"></span>
                            <span ng-click="eliminaAggiunta($index)" class="close"><img src="imgs/png/cancel.png"></span>

                            <img class="riepilogo-icon" ng-src="{{offerta.imgSrc}}"/>
                        </div>
                    </div>


                    <div class="col-9">


                        <div ng-if="offerta.isMobile" class="recap-connf-table-container">


                            <div class="panel-group riga-configurazione">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span><b> Richiesta MNPIN</b>
                            </div>


                            <div class="panel-group riga-configurazione">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <b>
                                            <a class="accordion-trigger" data-toggle="collapse"
                                               href="#collapse-opt-{{$index}}">
                                                <span class="accordion-icon"></span>
                                                Configura ICCID
                                            </a>
                                        </b>
                                    </div>
                                    <div id="collapse-opt-{{$index}}" class="panel-collapse collapse">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">ICCID</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">MSISDN</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">

                                            <div class="col-2"></div>
                                            <div class="col-2">Tipologia</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2">IMSI</div>
                                            <div class="col-6"><input type="text"></div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row riga-configurazione">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span><b> Inserisci IMEI</b>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <!--MENU LATERALE DESTRO-->
        <div class="col-3">

            <div class="right-col-recap" id="recap-menu-right">


                <button ng-click="collapseMenu()">Nascondi</button>
            <div class="cart-state">
                <b>Stato carrello:</b><b>{{cartState}}</b>
            </div>

            <div class="recap-right-sec" ng-repeat="offerta in offerte_mandatorie">

                <div class="name">
                    <b>{{offerta.offerName}}</b>
                    <div class="float-right">
                        <span class="offerta-valida-{{offerta.isValid}}"></span>
                    </div>
                </div>


                <table>
                    <tr>
                        <td>Totale mensile:</td>
                        <td>{{offerta.offerPrice}} &euro;</td>
                    </tr>
                    <tr>
                        <td>Totale altri costi:</td>
                        <td>{{offerta.otherPrices}} &euro;</td>
                    </tr>
                </table>


            </div>


            <div class="recap-right-sec" ng-repeat="offerta in offerte_aggiunte">

                <div class="name">
                    <b>{{offerta.offerName}}</b>
                    <div class="float-right">
                        <span class="offerta-valida-{{offerta.isValid}}"></span>
                    </div>
                </div>


                <table>
                    <tr>
                        <td>Totale mensile:</td>
                        <td>{{offerta.offerPrice}} &euro;</td>
                    </tr>
                    <tr>
                        <td>Totale altri costi:</td>
                        <td>{{offerta.otherPrices}} &euro;</td>
                    </tr>
                </table>


            </div>

            <div>

                <table>
                    <tr>
                        <td>
                            <h5>Totale Mensile:</h5>
                        </td>
                        <td>
                            <h5><b>{{totaleParziale | currency}} &euro;</b></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Totale:</h5>
                        </td>
                        <td>
                            <h5><b>{{totale | currency}} &euro;</b></h5>
                        </td>
                    </tr>
                </table>

            </div>

            <div align="right" class="footer-buttons">

                <!--<button onclick="javascript: window.history.back(); " type="button"-->
                <!--class="btn btn-warning checkoutbtn">Indietro-->
                <!--</button>-->
                <!---->
                <button type="button" ng-click="configura()" class="btn btn-warning checkoutbtn">Indietro
                </button>

                <button type="button" ng-click="checkout()" class="btn btn-warning checkoutbtn">Conferma
                </button>
            </div>

            </div>

        </div>
    </div>





    <!-- LISTA IMMAGINI OFFERTE AGGIUNGIBILI DROPPATE -->

</div>

<br>


