



<div class="vertical-label">
    <div class="input-table-title vertical-iccid-label">Configura ICCID</div>
    <div class="input-table-title vertical-mnp-label">Configura MNP</div>
    <div class="input-table-title vertical-imei-label">Configura IMEI</div>
</div>

<div class="h-scroll-container">

    <div class="offert" ng-repeat="offerta in offerte_configurabili">
        <div class="img-wrap">
            <!--
            <span ng-if="offerta.isMobile" ng-click="configura_offerta()" class="config">
                <img src="imgs/png/cogwheel.png" class="control-icon">
            </span>
            -->

            <img class="offer-image" ng-src="{{offerta.imgSrc}}"/>

            <!--
            <span ng-if="offerta.isMobile" ng-click="configura_offerta()" class="config">
                <img src="imgs/png/cogwheel.png" class="control-icon">
            </span>
            -->

            <img ng-if="offerta.contract_type=='abbonamento'" class="category-icon abbonamento" src="imgs/phone-icons/png/international-calls.png">
            <img ng-if="offerta.contract_type=='autoricarica'" class="category-icon autoricarica" src="imgs/phone-icons/png/refresh-wifi-signal.png">
            <img ng-if="offerta.contract_type=='ricaricabile'" class="category-icon ricaricabile" src="imgs/phone-icons/png/telephone-receiver-with-circular-arrows.png">

            <img ng-if="offerta.terminal_type=='sussidiato'" class="category-icon sussidiato" src="imgs/phone-icons/png/smartphones-couple.png">
            <img ng-if="offerta.terminal_type=='rateale'" class="category-icon rateale" src="imgs/phone-icons/png/smartphone-with-emoticon.png">
            <img ng-if="offerta.terminal_type=='oneshot'" class="category-icon oneshot" src="imgs/phone-icons/png/smartphone-with-shield.png">

            <div ng-if="offerta.info!=''" class="image-tab tab-left" id="offer-tab-{{$index}}" ng-click="expandInfo($index)">

                <div class="image-tab-info" id="offer-info-{{$index}}" ng-bind-html="offerta.info"></div>

            </div>
        </div>

        <div class="input-table-border">

            <div class="input-section section-iccid-{{$index}}">

                <div class="row">

                    <div class="row col-6 input-table-cell">

                        <label for="iccid-{{$index}}" class="col-4 col-form-label">
                            <b>ICCID:</b>
                        </label>

                        <div class="col-8">
                            <input type="text" id="iccid-{{$index}}" name="iccid{$index}}" ng-model="offerta.iccid" ng-blur="validateField($event);validateICCID($event,$index)" class="form-control" placeholder="" tabindex={{($index)*100+1}} ng-required="true" ng-minlength="19" ng-maxlength="20">
                            <img id="loading-iccid-{{$index}}" class="loading-gif-vertical" src="imgs/loading-animation.gif" hidden>
                            <span id="error-iccid-{{$index}}" class="error-message"></span>
                        </div>

                    </div>
                    <div class="row col-6 input-table-cell">
                    </div>
                </div>
                <div class="row">

                    <div class="row col-6 input-table-cell">
                        <label for="msisdn-{{$index}}" class="col-4 col-form-label">
                            <b>MSISDN:</b>
                        </label>

                        <div class="col-8">
                            <input type="text" id="msisdn-{{$index}}" name="msisdn{{$index}}" ng-model="offerta.msisdn" class="form-control" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="row col-6 input-table-cell">
                    </div>
                </div>
                <div class="row">

                    <div class="row col-6 input-table-cell">

                        <label for="tipologia-{{$index}}" class="col-4 col-form-label">
                            <b>TIPOLOGIA:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="tipologia-{{$index}}" name="tipologia{{$index}}" ng-model="offerta.tipologia" class="form-control" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="row col-6 input-table-cell">
                    </div>

                </div>

            </div>

            <div class="input-section section-mnp-{{$index}}">


                <div class="row">

                    <div class="col-6 row input-table-cell">
                        <label for="nome-{{$index}}" class="col-4 col-form-label">
                            <b>NOME:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="nome-{{$index}}" name="nome{{$index}}" ng-model="offerta.nome" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+4}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>
                    <div class="col-6 row input-table-cell">
                        <label for="msisdn-portato-{{$index}}" class="col-4 col-form-label">
                            <b>MSISDN PORTATO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="msisdn-portato-{{$index}}" name="msisdnportato{{$index}}" ng-model="offerta.msisdn_portato"
                                   ng-blur="validateField($event);validateMSISDNDonating($event)" class="form-control"
                                   placeholder="" tabindex={{($index)*100+9}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row input-table-cell">
                        <label for="cognome-{{$index}}" class="col-4 col-form-label">
                            <b>COGNOME:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="cognome-{{$index}}" name="cognome{{$index}}" ng-model="offerta.cognome" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+5}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>
                    <div class="col-6 row input-table-cell">
                        <label for="origine-{{$index}}" class="col-4 col-form-label">
                            <b>CONTRATTO ORIGINE:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="origine-{{$index}}" name="origine{{$index}}" ng-model="offerta.origine"
                                   ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+10}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row input-table-cell">
                        <label for="cfpiva-{{$index}}" class="col-4 col-form-label">
                            <b>CF/P:IVA:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="cfpiva-{{$index}}" name="cfpiva{{$index}}" ng-model="offerta.cfpiva" ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+6}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>
                    <div class="col-6 row input-table-cell">
                        <label for="operatore-{{$index}}" class="col-4 col-form-label">
                            <b>OPERATORE TELEFONICO:</b>
                        </label>
                        <div class="col-8">
                            <select type="text" id="operatore-{{$index}}" name="operatore{{$index}}"
                                    ng-options="operatore.nome for operatore in operatori"
                                    ng-model="offerta.operatore" ng-blur="validateField($event)"
                                    class="form-control" placeholder="" tabindex={{($index)*100+11}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row input-table-cell">
                        <label for="tipo-{{$index}}" class="col-4 col-form-label">
                            <b>TIPO DOCUMENTO:</b>
                        </label>
                        <div class="col-8">
                            <select type="text" id="tipo-{{$index}}" name="tipo{{$index}}" ng-options="documento.tipo for documento in tipoDocumenti"
                                    ng-model="offerta.tipo_documento" ng-blur="validateField($event)" class="form-control" placeholder=""
                                    tabindex={{($index)*100+7}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                            </select>
                        </div>
                    </div>
                    <div class="col-6 row input-table-cell">
                        <label for="iccid-donating-{{$index}}" class="col-4 col-form-label">
                            <b>ICCID DONATING:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="iccid-donating-{{$index}}" name="icciddonating{{$index}}"
                                   ng-model="offerta.iccid_donating" ng-blur="validateField($event);validateICCIDDonating($event)"
                                   class="form-control" placeholder="" tabindex={{($index)*100+12}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-6 row input-table-cell">
                        <label for="numero-documento-{{$index}}" class="col-4 col-form-label">
                            <b>NUMERO DOCUMENTO:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="numero-documento-{{$index}}" name="numerodocumento{{$index}}" ng-model="offerta.numero_documento"
                                   ng-blur="validateField($event)" class="form-control" placeholder="" tabindex={{($index)*100+8}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                        </div>
                    </div>
                    <div class="col-6 row input-table-cell">
                        <label for="flag-tcr-{{$index}}" class="col-4 col-form-label">
                            <b>FLAG TCR:</b>
                        </label>
                        <div class="col-8">
                            <select type="text" id="flag-tcr-{{$index}}" name="flagtcr{{$index}}"
                                    ng-model="offerta.flag_tcr" ng-blur="validateField($event)" class="form-control"
                                    placeholder="" tabindex={{($index)*100+13}} ng-disabled="offerta.mnp_disabled" ng-required="!offerta.mnp_disabled">
                                <option value="SI">Si</option>
                                <option value="NO">No</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>

            <div class="input-section section-imei-{{$index}}">

                <div class="row">
                    <div class="row col-6 input-table-cell">
                        <label for="imei-{{$index}}" class="col-4 col-form-label">
                            <b>IMEI:</b>
                        </label>
                        <div class="col-8">
                            <input type="text" id="imei-{{$index}}" name="imei{{$index}}" ng-model="offerta.imei" ng-blur="validateIMEI($event, $index)" class="form-control" placeholder="" tabindex={{($index)*100+14}} ng-disabled="offerta.imei_disabled" ng-required="!offerta.imei_disabled" ng-minlength="15">
                            <img id="loading-imei-{{$index}}" class="loading-gif" src="imgs/loading-animation.gif" hidden>
                            <span id="error-imei-{{$index}}" class="error-message"></span>
                        </div>
                    </div>
                    <div class="row col-6 input-table-cell">


                    </div>
                </div>
            </div>

        </div>

    </div>





</div>


