



<div class="vertical-label">
    <div class="input-table-title vertical-iccid-label">Configura ICCID</div>
    <div class="input-table-title vertical-mnp-label">Configura MNP</div>
</div>

<div class="h-scroll-container">

    <div class="offert" ng-repeat="offerta in offerte_configurabili">
        <div class="img-wrap">
            <!--
            <span ng-if="offerta.isMobile" ng-click="configura_offerta()" class="config">
                <img src="imgs/png/cogwheel.png" class="control-icon">
            </span>
            -->
            <img class="riepilogo-icon" ng-src="{{offerta.imgSrc}}"/>
        </div>
        <div class="input-table-border">

            <div class="row">
                <div class="col-6">
                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>ICCID:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="iccid-{{$index}}" name="iccid-{{$index}}" ng-model="offerta.iccid" class="form-control" placeholder="" tabindex={{($index)*100+1}}>
                        </div>
                    </div>
                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>MSISDN:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="msisdn-{{$index}}" name="msisdn-{{$index}}" ng-model="offerta.msisdn" value="" class="form-control" placeholder="" tabindex={{($index)*100+2}}>
                        </div>
                    </div>
                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>TIPOLOGIA:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="tipologia-{{$index}}" name="tipologia-{{$index}}" ng-model="offerta.tiplogia" value="" class="form-control" placeholder="" tabindex={{($index)*100+3}}>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>

            <div class="row">

                <div class="col-6">
                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>NOME:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="nome-{{$index}}" name="nome-{{$index}}" ng-model="offerta.nome" value="" class="form-control" placeholder="" tabindex={{($index)*100+4}}>
                        </div>
                    </div>
                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>Cognome:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="cognome-{{$index}}" name="cognome-{{$index}}" ng-model="offerta.cognome" value="" class="form-control" placeholder="" tabindex={{($index)*100+5}}>
                        </div>
                    </div>


                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>CF/P:IVA:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="cfpiva-{{$index}}" name="cfpiva-{{$index}}" ng-model="offerta.cfpiva" value="" class="form-control" placeholder="" tabindex={{($index)*100+6}}>
                        </div>
                    </div>


                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>TIPO DOCUMENTO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="tipo-{{$index}}" name="tipo-{{$index}}" ng-model="offerta.tipo" value="" class="form-control" placeholder="" tabindex={{($index)*100+7}}>
                        </div>
                    </div>


                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>N. DOCUMENTO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="msisdn-portato-{{$index}}" name="msisdn-portato-{{$index}}" ng-model="offerta.numero_documento" value="" class="form-control" placeholder="" tabindex={{($index)*100+8}}>
                        </div>
                    </div>


                </div>

                <div class="col-6">

                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>MSISDN PORTATO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="msisdn-portato{{$index}}" name="msisdn-portato-{{$index}}" ng-model="offerta.msisdn_portato" value="" class="form-control" placeholder="" tabindex={{($index)*100+9}}>
                        </div>
                    </div>

                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>CONTRATTO ORIGINE:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="origine-{{$index}}" name="origine-{{$index}}" ng-model="offerta.origine" value="" class="form-control" placeholder="" tabindex={{($index)*100+10}}>
                        </div>
                    </div>


                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>OPERATORE TELEFONICO:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="operatore-{{$index}}" name="operatore-{{$index}}" ng-model="offerta.operatore" value="" class="form-control" placeholder="" tabindex={{($index)*100+11}}>
                        </div>
                    </div>



                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>ICCID DONATING:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="iccid-donating-{{$index}}" name="iccid-donating-{{$index}}" ng-model="offerta.iccid_donating" value="" class="form-control" placeholder="" tabindex={{($index)*100+12}}>
                        </div>
                    </div>

                    <div class="row input-table-cell">
                        <div class="col-4">
                            <b>TCR:</b>
                        </div>
                        <div class="col-8">
                            <input type="text" id="tcr-{{$index}}" name="tcr-{{$index}}" ng-model="offerta.tcr" value="" class="form-control" placeholder="" tabindex={{($index)*100+13}}>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
