.padding{
    padding:40px;
    margin-top: 80px;
}

.reply-menu{

    background-color: #FFFFFF;
    border: 3px solid #ffc726;
    max-width: 200px;
    margin: 0 auto;
    margin-top:20px;
    border-radius: 15px;
    text-align: center;
    padding:10px;
}
.input-table-cell{
    padding: 5px;
    font-size: x-small;
    color: #6c757d;

}

.app-name{
    text-transform: uppercase;
    font-size: xx-large;
    color: #6c757d;
}

.window-control-icon{
    width:50px;
    height: 50px;
    cursor:pointer;
}

.control-icon{

    width: 12px !important;
    height: 12px !important;
    border: none !important;
    cursor: pointer;
}

.control-span{

    width: 12px !important;
    height: 12px !important;
    border: none !important;
}

.offer-image{

}

.config{
    position: absolute;
    left: 160px;
    top: -20px;
}
.delete{

}

.loading-gif{
    width: 20px;
    position: absolute;
    left: 225px;
    bottom: 5px;
}

.loading-gif-vertical{
    width: 20px;
    position: absolute;
    left: 160px;
    bottom: 5px;
}

.img-wrap {

    position: relative;


    /*
    padding: 55px 10px 60px 10px;
    overflow: visible;
    */
    max-width: 180px;
    margin: 0 auto;
    margin-bottom:20px;
    margin-top:20px;
}

.img-wrap img {

    border-radius: 15px;
    /*overflow: hidden;
    */
    border: 2px solid rgba(40, 108, 212, 0.7);
    height: auto;
    max-width: 100%;
}

.input-table-title{
    background-color: #ffc726;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.input-table-border{
    border: 1px solid #ffc726;
}

.riepilogo-row{
    margin-top:10px;
    margin-bottom:10px;
}

.vertical-iccid-label{
    position: relative;
    top: 250px;
}

.vertical-mnp-label{
    position: relative;
    top: 345px;
}

.vertical-imei-label{
    position: relative;
    top: 595px;
}


.vertical-label{
    idth: 160px;
    display: block;
    float: left;
}


.h-scroll-container{
    overflow-x: auto;
    white-space: nowrap;
}

.offert {
    display: inline-block;
    vertical-align: top;
    float: none;
    width:600px;
    padding:20px;
    white-space: normal;

}

.input-section{
    margin:20px;
}
.error-message{
    color: #b73217;
}

/* BOOTSTRAP OVERRIDE */
.form-control{
    padding:2px;
    font-size: small;
}

.row{
    margin-left:0px;
}
.col-form-label{
    text-transform: uppercase;
}

select.form-control:not([size]):not([multiple]){
    height:auto; !important;
}

