.padding{
    padding:40px;
}
.input-table-cell{
    padding: 5px;
    font-size: small;
    color: #6c757d;
}

.control-icon{

    width: 12px !important;
    height: 12px !important;
    border: none !important;
    cursor: pointer;
}

.control-span{

    width: 12px !important;
    height: 12px !important;
    border: none !important;
}

.offer-image{

}

.config{
    position: absolute;
    left: 160px;
    top: -20px;
}
.delete{

}

.img-wrap {

    position: relative;
    margin:10px;
    /*
    padding: 55px 10px 60px 10px;
    overflow: visible;
    */
}

.img-wrap img {

    border-radius: 15px;
    /*overflow: hidden;
    */
    border: 2px solid rgba(40, 108, 212, 0.7);
    height: 170px;
    width: 170px;
}

.input-table-title{
    background-color: #ffc726;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}