.container {


}

.frame_esterno {
	margin: auto;
	padding: 10px;
	width: 80%;
}




.img-wrap_offertebloccate {
  display:inline;
  padding: 55px 10px 60px 10px;
  overflow: visible;
  position: relative;
 
}


.img-wrap_offertebloccate .config {

    position: absolute;
    color: red;
    cursor: pointer;
    z-index: 999;
    opacity: 1.0;
    top: -90px;
    right: 15px;

}

.img-wrap_offertebloccate img {
    
    border-radius: 15px; 
    overflow: hidden;
     border: 2px solid rgba(0,255,0,0.7);

    height: 170px;
    width: 170px;
    /*
    height: 190px;
     */

}


.img-wrap_dropped {
  display:inline;

    /*padding: 55px 10px 60px 10px;

     */
  overflow: visible;
  position: relative;
    padding-left: 10px;

}


.img-wrap_dropped .close {

    position: absolute;
    right: -10px;
    cursor: pointer;
    z-index: 999;
    opacity: 1.0;
    top: -90px;

}

.img-wrap_dropped .close img {

    width: 20px;
    height: 20px;
    border: 0px;
}

.img-wrap_dropped .config {

    position: absolute;
    color: red;
    cursor: pointer;
    z-index: 999;
    opacity: 1.0;
    top: -90px;
    right: 15px;

}

.img-wrap_dropped .config img {

    width: 20px;
    height: 20px;
    border: 0px;
}

 

.img-wrap_dropped img {
     
    border-radius: 15px; 
     border: 2px solid rgba(0,0,255,0.7);
   /*
     height: 190px;
     */
}




.striscia_draggabili
{
	
	border-radius: 25px; 
 	background-color:Black !important; 
 	 padding: 15px 5px 15px 5px;
}


.img-wrap_draggabili  {
	display: inline;
	padding: 25px 10px 25px 10px;
}


.draggabile {
    max-width : 110px;
	border-radius: 15px; 
    border: 1px solid White;
    cursor: pointer;
    opacity: 0.9;
}


.drophere
{
	  
	 max-width:150px; 	
	 border-radius: 15px; 
     border: 1px solid White;
     opacity: 0.5;
}

.checkoutbtn
{
	cursor: pointer;
}


.riepilogo-icon {
    width: 170px;
    height: 170px;
}

.riga-configurazione {
    color: #666;
    background-color: #e7eaeb;
    margin: 1px;
    padding:5px;
}

.footer-buttons {
    padding: 20px;
}

.card-footer {

    padding: 10px;
}

.riepilogo-row {
    padding: 10px;
}

.recap-connf-table-container {

    background-color: white;
    padding:30px;


}

.recap-container {
    border-top: 4px solid #ffc726;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 40px;

    background-color: white;
    margin-bottom: 40px;



}
/*
.recap-left-col{
    height:600px;
    overflow-y: auto;
}
*/

/*
.accordion-icon{
    background: url(/imgs/accordion-plus.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;
}
*/

a.accordion-trigger span {

    background: url(/imgs/png/add.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;
    margin-rignt:10px;

}

a.accordion-trigger[aria-expanded="true"] span {

    background: url(/imgs/png/cancel.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;

}

/*

a.accordion-trigger span {

    background: url(/imgs/icons8-cancel-50.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;

}

*/

.right-col-recap{

    border-top: 4px solid #ffc726;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    background-color: white;
    margin-bottom: 40px;

    padding:10px;

    position: fixed;
    top: 120px;
    right: 60px;

}

.recap-right-sec{
    border: 1px solid gray;
    margin-bottom:8px;

    /*
    border-radius: 10px;
*/
}

.recap-right-sec .name{

    /*border-radius: 10px 10px 0px 0px;

     */
    background-color: #ffc726;
    border-bottom: 1px solid gray;
    padding:10px;

}

.cart-state{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e7eaeb;
    border: 2px solid grey;
    padding:20px;
}

.offerta-valida-true{

    background: url(/imgs/png/checked-1.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;
}

.offerta-valida-false{
    background: url(/imgs/png/cancel-1.png) left top no-repeat;
    background-size: contain;
    padding-left: 20px;
}